{
	"server": "0.0.0.0",
	"server_port": 58583,
	"password": "{{ lookup("ini", "socks file=secrets/passwords.ini section=gw_tunnel") }}",
	"timeout": 60,
	"mode": "tcp_and_udp",
	"method": "chacha20-ietf-poly1305",
}
