#!/usr/bin/env bash
set -e
export BORG_REPO=/mnt/backup/maindata
export BORG_PASSPHRASE="{{ lookup("ini", "borg_maindata file=secrets/passwords.ini section=main_server") }}"
export BORG_UNKNOWN_UNENCRYPTED_REPO_ACCESS_IS_OK=yes

PATTERNS_FILE="$(mktemp)"
cat > "$PATTERNS_FILE" <<EOF
P sh
R /mnt/data/containerdata
R /mnt/data/userdata
- /mnt/data/userdata/users/dvdkon/downloads
- /mnt/data/userdata/users/dvdkon/data/archive
- /mnt/data/userdata/groups/konarici/Stažené
- /mnt/data/userdata/groups/konarici/DVD Ripy
- /mnt/data/userdata/groups/konarici/MyBook/Pohádky
- /mnt/data/userdata/groups/konarici/MyBook/Filmy
- /mnt/data/userdata/groups/konarici/Fotky/Photos
EOF

log() { echo "$(date "+%F %T") -- $@"; }

log Creating backup...

borg create \
	--show-rc \
	--stats \
	--list \
	--filter=AME \
	--compression=lz4 \
	--numeric-owner \
	--noatime \
	--patterns-from "$PATTERNS_FILE" \
	"::{now}"

log Pruning...

borg prune \
	--show-rc \
	--list \
	--stats \
	--keep-within=7d \
	--keep-weekly=3 \
	--keep-monthly=3 \
	--keep-yearly=-1

rm "$PATTERNS_FILE"

log Backup finished
