#!/usr/sbin/nft -f

# External IP of tunnel server (i.e. effective external IP of this server)
define tunnel_ip = 217.160.75.217
# TODO: Any better way to say "for this machine"?
# XXX: This has to be kept up to date manually
define mainserver_ips = {
	127.0.0.0/8, 10.0.1.100, 10.1.0.1, 10.2.0.2, $tunnel_ip
}
define lan_iface = eno1

flush ruleset

table inet filter {
        chain input {
                type filter hook input priority 0
        }
        chain forward {
                type filter hook forward priority 0
        }
        chain output {
                type filter hook output priority 0
        }
}

table ip nat {
	chain prerouting {
		type nat hook prerouting priority 0;

		ip daddr $mainserver_ips tcp dport afpovertcp \
			dnat to {{ hostvars["netatalk"].ip }} comment "AFP"
		ip daddr $mainserver_ips tcp dport ssh \
			dnat to {{ hostvars["sftp"].ip }} comment "SFTP SSH"
		ip daddr $mainserver_ips tcp dport { http, https } \
			dnat to {{ hostvars["caddy-rp"].ip }} comment "HTTP(S)"
		ip daddr $mainserver_ips tcp dport \
			{ smtp, submissions, imaps, sieve } \
			dnat to {{ hostvars["email"].ip }} \
			comment "SMTP(S)/IMAPS/POP3S/ManageSieve"
		ip daddr $mainserver_ips tcp dport 22000 \
			dnat to {{ hostvars["u-dvdkon-syncthing"].ip }} \
			comment "dvdkon Syncthing TCP"
		ip daddr $mainserver_ips udp dport 22000 \
			dnat to {{ hostvars["u-dvdkon-syncthing"].ip }} \
			comment "dvdkon Syncthing UDP"

		iif $lan_iface ip daddr $tunnel_ip redirect
	}

	chain postrouting {
		type nat hook postrouting priority 100;

		ip saddr 10.1.0.0/24 ip daddr != 10.1.0.0/24 masquerade \
			comment "LXD networking (lxdbr0)"
	}
}
