{
    "general": {
        "name": null,
        "port": null,
        "host": null,
        "secret_key": "{{ lookup("ini", "secret_key file=secrets/passwords.ini section=filestash") }}",
        "force_ssl": null,
        "editor": null,
        "fork_button": null,
        "display_hidden": null,
        "auto_connect": null,
        "remember_me": null,
        "upload_button": null
    },
    "features": {
        "share": {
            "enable": null
        },
        "search": {
            "enable": null,
            "process_max": null,
            "process_par": null,
            "reindex_time": null,
            "cycle_time": null,
            "max_size": null,
            "indexer_ext": null
        },
        "server": {
            "tunnel_enable": null,
            "tunnel_url": null,
            "tor_enable": null,
            "tor_url": null,
            "console_enable": null,
            "enable_tunnel": false
        },
        "video": {
            "blacklist_format": null,
            "enable_transcoder": null
        },
        "office": {
            "enable": null,
            "onlyoffice_server": null
        },
        "syncthing": {
            "enable": null,
            "server_url": null
        },
        "image": {
            "enable_image": null,
            "thumbnail_size": null,
            "thumbnail_quality": null,
            "thumbnail_caching": null,
            "image_quality": null,
            "image_caching": null
        },
        "protection": {
            "enable": null,
            "disable_svg": null,
            "iframe": null
        }
    },
    "log": {
        "enable": null,
        "level": null,
        "telemetry": true
    },
    "email": {
        "server": null,
        "port": null,
        "username": null,
        "password": null,
        "from": null
    },
    "auth": {
        "admin": "{{ lookup("ini", "admin file=secrets/passwords.ini section=filestash") | password_hash("bcrypt") }}",
        "custom": {
            "client_secret": null,
            "client_id": null,
            "sso_domain": null
        }
    },
    "constant": {
        "user": "filestash",
        "emacs": false,
        "pdftotext": true
    },
    "connections": [
        {
            "hostname": "sftp",
            "label": "SFTP",
            "type": "sftp"
        }
    ]
}
