$ORIGIN 1.10.in-addr.arpa.
$TTL 3600

@ IN SOA ns1.local.konarici.cz. dvd\.kon.gmail.com. (
	{{ ansible_date_time.epoch }}
	10800
	3600
	604800
	300 )

	IN NS ns1.local.konarici.cz.

{% for hostname in groups["containers"] %}
{{ hostvars[hostname].ip | regex_replace("10\\.1\\.([0-9]{1,3})\\.([0-9]{1,3})", '\\2.\\1') }} IN PTR {{ hostname }}.local.konarici.cz.
{% endfor %}
