$ORIGIN local.konarici.cz.
$TTL 3600

local.konarici.cz. IN SOA ns1.local.konarici.cz. dvd\.kon.gmail.com. (
	{{ ansible_date_time.epoch }}
	10800
	3600
	604800
	300 )


	IN NS ns1.local.konarici.cz.
ns1 IN CNAME dnsd

{% for hostname in groups["containers"] %}
{{ hostname }} IN A {{ hostvars[hostname].ip }}
{% endfor %}

{# Hardcoded aliases #}
ldapd CNAME openldap.konarici.cz
