[Interface]
Address = 10.2.0.2
PrivateKey = {{ lookup("ini", "wg_peer_privkey file=secrets/passwords.ini section=tunnel") }}
# XXX: Seems to fix some weird packet loss issues
# Hopefully this whole thing will be redone soon anyway
MTU = 1200

# wg-quick will create routing rules in table 1000
# This also disables creating rules for redirecting all traffic through wg0
Table = 1000
PostUp = ip route add 10.2.0.1 dev %i
PostUp = ip rule add priority 1000 from {{ hostvars.email.ip }} ipproto tcp dport 25 table 1000
PreDown = ip route del 10.2.0.1 dev %i
PreDown = ip rule del priority 1000 from {{ hostvars.email.ip }} ipproto tcp dport 25 table 1000

[Peer]
PublicKey = {{ lookup("ini", "wg_tunnel_pubkey file=secrets/passwords.ini section=tunnel") }} 
Endpoint = {{ hostvars["tunnel"].ansible_host }}:45292
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
