#!/usr/sbin/nft -f

define homeserver_ip = 10.2.0.2
define outer_if = {{ ansible_default_ipv4.interface }}

flush ruleset

table inet filter {
        chain input {
                type filter hook input priority 0;
        }
        chain forward {
                type filter hook forward priority 0;
        }
        chain output {
                type filter hook output priority 0;
        }
}

table ip nat {
	chain prerouting {
		type nat hook prerouting priority 0;

		# Using 465 instead of "submissions", because it's missing
		# on older systems
		iif $outer_if tcp dport {
			822, 722, 21000-21999, ssh, http, https, smtp, 465,
			imaps } \
			dnat to $homeserver_ip
	}

	chain postrouting {
		type nat hook postrouting priority 100;

		ip daddr $homeserver_ip masquerade
		ip saddr $homeserver_ip masquerade
	}
}
