[Interface]
Address = 10.2.0.1
PrivateKey = {{ lookup("ini", "wg_tunnel_privkey file=secrets/passwords.ini section=tunnel") }}
ListenPort = 45292
# This will likely cause UDP fragmentation, but seems to fix issues with
# tunnelling SSH
# XXX: Disabled, because it killed performance
# MTU = 1500

[Peer]
PublicKey = {{ lookup("ini", "wg_peer_pubkey file=secrets/passwords.ini section=tunnel") }}
AllowedIPs = 10.2.0.2/32
